<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
<div class="card" style="width:20rem;margin:20px 0 24px 0">
  
  <div class="card-body">
    <h4 class="card-title">Students Registration</h4>
    <p class="card-text">This service enables  to register new students </p>
    <a [routerLink]="['/Students']" class="btn btn-primary">Move</a>
  </div>
</div>
</div>
<div class="col-md-4">
<div class="card" style="width:20rem;margin:20px 0 24px 0">
 
  <div class="card-body">
    <h4 class="card-title">Course Registration</h4>
    <p class="card-text">This service enables  to register new Course </p>
    <a [routerLink]="['/course']" class="btn btn-primary">Move</a>
  </div>
</div>
</div>
<div class="col-md-2"></div>
</div>
</div>